@use '../styles/variable' as *;

.homepage {
}

.table-function {
    text-align: left;
}

.detail-info-contract {
    color: white;

    .opacity-80 {
        opacity: 0.8;
    }

    .text-lighter-primary {
        color: $color-primary-light;
    }

    .wrapper-row-2 {
        margin-top: 3%;
    }
}

span.tag-link {
    color: $color-primary;
}

span.tag-link:hover {
    text-decoration: none;
    opacity: 0.6;
}

.main-modal {
    .ant-picker {
        width: 60%;
    }

    &.ant-modal {
        width: 750px !important;
    }

    .opacity-70 {
        opacity: 0.7;
    }

    .contract-upload-button {
        padding: 6px;
        border: 1px solid #FFAC69;
        color: #FFAC69;
        border-radius: 8px;
    }
}

.info-modal {
    max-width: 100%;
    width: 700px;
    max-height: 255px;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #727288;
    color: white;
    border-radius: 8px;
}

#contractForm {
    .main-form {
        .ant-input-disabled {
            background: transparent !important;
        }

        .ant-form-item:has(.ant-input-disabled),
        .ant-form-item:has(.ant-picker-disabled),
        .ant-form-item:has(.ant-picker-disabled) .ant-picker {
            margin: 0px;
            max-height: 26px;
            background-color: transparent !important;
        }

        .ant-picker {
            width: 60%;
        }

        .ant-form-item-control-input-content {
            max-width: 75%;
        }

        .image-upload {
            width: 20%;
            height: 20%;
        }

        .contract-upload-button {
            padding: 6px;
            border: 1px solid #FFAC69;
            color: #FFAC69;
            border-radius: 8px;
        }

        .text-form-color {
            color: #FFAC69;
        }

        .ant-divider {
            border-color: #727288;
            margin: 10px;
        }


    }
}